.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #825099;
}

.logo {
    height: 32px;
    margin: 16px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

nz-layout {
    height: 100%;
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 0 16px;
}

nz-footer {
    text-align: center;
}
