<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">{{ isCollapsed ? 'E' : 'Eventize'}}</div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let item of navLinks" nz-submenu [nzTitle]="item?.title" [nzIcon]="item?.icon">
        <ul *ngIf="item?.links">
          <li *ngFor="let childItem of item?.links" nz-menu-item>
            <a [routerLink]="childItem?.href">{{childItem.title}}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <em class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></em>
      <div style="float:right;">
        <span style="margin-right:1rem;">Welcome, Toby</span>
        <nz-badge [nzCount]="5" style="margin-right: 24px;">
          <nz-avatar nzIcon="user"></nz-avatar>
        </nz-badge>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>